# ZigShutter board configuration

# Copyright (c) 2024 Nicola Corna <nicola@corna.info>
# SPDX-License-Identifier: Apache-2.0

config BOARD_ZIGSHUTTER
	bool "ZIGSHUTTER NRF52840"
	depends on SOC_NRF52840_QIAA

